
<div class="wrapper">
<button *ngIf="!quizStarted" (click)="getQuestionSet()">Aloita visa</button>

<div *ngIf="quizStarted">
<div class="question" *ngIf="questionIndex || questionIndex === 0">{{questionIndex + 1}}/{{maxIndex}}</div>
<div class="question">{{question}}</div><br/>
<div class="answer" *ngFor="let answer of answers" (click)="onSelect(answer)">
  <button>{{answer.answerText}} </button>
</div>
<img src={{image}} width="1vw" *ngIf="!quizOver">
</div>

<div *ngIf="quizOver">
<div>
  <h2>{{resultTitle}}</h2>
  <h1>{{resultText}}</h1>
  <h1>{{resultPercentage}}</h1>
  <button (click)="reset()">Tee uusi testi</button>
</div>
<ul *ngFor="let resultQuestion of resultQuestions">
  <div class="question">{{resultQuestion.question}}<br/></div>
  <li *ngFor="let resultAnswer of resultQuestion.answers">
    <span class={{resultAnswer.answerCorrectness}} id={{resultAnswer.userAnswer}}>•{{resultAnswer.answerText}}</span>
  </li>
</ul>
</div>
</div>
